<nav class="navbar">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <button class="nav-btn" onclick="function fun(){window.location.href = '/InstructorHome';} fun()">Home</button>
    <button class="nav-btn"
        onclick="function fun(){window.location.href = '/InstructorCourses';} fun()">Courses</button>
    <button class="nav-btn" onclick="function fun(){window.location.href = '/Library'} fun()">Library</button>


    <span> <button class="nav-btn logout-btn" onclick="function fun(){window.location.href = '/Signout'} fun()">
            <i class="fa fa-sign-out fa_custom fa-1x"></i></button></span>


</nav>

<%- include("./darkMode.ejs") %>