
    
<nav class="navbar">

    <button class="nav-btn">Home</button>
    <button class="nav-btn">Courses</button>
    <button class="nav-btn">Schedule</button>
    <button class="nav-btn">Library</button>
    <button class="nav-btn">Exams</button>

</nav>