<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <%- include("./partials/defaultCSS.ejs") %>
        <%- include("./partials/preLoggerCSS.ejs") %>
</head>

<body>

    <main class="preLogger">
        <div class="Faculty-Box Box">
            <button class="Faculty-Btn Btn">FACULTY?</button>
        </div>

        <div class="Student-Box Box">
            <button class="Student-Btn Btn">STUDENT?</button>
        </div>
    </main>

</body>

</html>