<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <%- include("./partials/defaultCSS.ejs") %>
        <%- include("./partials/preLoggerCSS.ejs") %>
</head>

<body>

    <main class="preLogger">
        <div class="Faculty-Box Box">
            <button class="Faculty-Btn Btn" onclick="goToFaculty()">FACULTY?</button>
        </div>

        <div class="Student-Box Box">
            <button class="Student-Btn Btn" onclick="goToStudent()">STUDENT?</button>
        </div>
    </main>

    <script>

        const goToFaculty = () => {


            window.location.href = "/Faculty";

        }


        const goToStudent = () => {


            window.location.href = "/Student";

        }

    </script>

</body>



</html>