<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/Login.css">
</head>

<body>


    <%- include("./partials/darkMode.ejs") %>
        <div class="login-box">
            <button class="goBack" onclick="home()">&larr; Go Back</button>

            <form class="login-form" method="POST" action='/StudentHome'>
                <h1>Sign in to your account</h1>
                <input type="number" name="studentID" id="student" placeholder="USER ID">

                <input type="password" name="StudentPassword" placeholder="PASSWORD">
                <h5>
                    <%=status%>
                </h5>
                <button type="submit">Login</button>
            </form>

        </div>

        <script>
            const home = () => {


                window.location.href = "/";

            }
        </script>

</body>

</html>