.Classes {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-around;
  /* padding: 1rem; */
  border-radius: 7.5px;
  border: 3px solid var(--dark);
}

.Classes-Heading {
  color: var(--light);
  font-size: 1.5rem;
  background-color: var(--dark);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  font-family: var(--dFont);
  font-weight: 400;
}

.Classes-Box {
  margin: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 7.5px;
  border: 3px solid var(--dark);
  /* h5 { */
  color: var(--text-color);
  /* } */
}

.Classes-Box button {
  border: none;
  outline: none;
  border: 1px solid var(--dark);
  color: var(--dark);
  font-size: 0.8rem;
  border-radius: 7px;
  font-weight: bold;
  padding: 0.4rem;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: ease-in-out 100ms;
  background-color: var(--light);
}

.Classes-Box button:hover {
  cursor: pointer;
  padding: 0.26rem 0.4rem;
  border-bottom: 0.3rem solid var(--dark);
}

@media only screen and (max-width: 800px) {
  .Classes-Box button {
    font-size: 1.2rem;
  }

  .Classes-Heading {
    font-size: 2.25rem;
  }

  .Classes-Box {
    font-size: 1.5rem;
  }
}
